body {
	background-image: url('./header.png');
	background-position: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(50px);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

i {
	padding: 5px;
	cursor: pointer;
}

.card-img-top {
	width: 70px;
}
